<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="/fragments/header"></div>

<main>
    <div class="container" th:if="${testStatisticsByUser.size() == 0}">
        <div class="row">
            <div class="d-flex align-items-baseline title">
                <h1 th:text="${session.user.getFirstName() + ' ' + session.user.getLastName()}">User name</h1>
            </div>
        </div>
        <div class="row">
            <p class="no-passed-test">You haven't finished any test yet.</p>
            <a th:href="@{/user/chooseTest}" type="submit" class="btn btn-lg w-100 mt-5">
                Choose the test
            </a>
        </div>
    </div>
    <section class="result col-12" th:unless="${testStatisticsByUser.size() == 0}">
        <div class="result__container container">
            <div class="row justify-content-center result__head">
                <div class=" col result__title"><h3>Total Statistics</h3></div>
            </div>
            <div class="row result__body">
                <div class="container mt-5">
                    <div class="row grid__head">
                        <div class="col-1 text-start d-md-block">#</div>
                        <div class="col-md-8 col-sm-7 text-start mb-2 grid__head-item">Name of the test</div>
                        <div class="col-md-3 col-sm-5 text-center d-flex justify-content-between">
                            <div class="text-center grid__head-item">Pass</div>
                            <div class="text-center grid__head-item">
                                <span>Average</span>
                                <button class="sort-button" id="sortTestsButton"><img th:src="@{/img/sort-icon.svg}">
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row result-row">
                        <div class="row grid__item"
                             th:each="userStat, state : ${testStatisticsByUser}">
                            <div class="col-1 ps-4 text-start d-md-block" th:utext="${state.count}">#</div>
                            <div class="col-md-8 col-sm-7 ps-4 text-start mb-2"
                                 th:utext="${userStat.testName}">Name of the test
                            </div>
                            <div class="col-md-3 col-sm-5 text-center d-flex justify-content-between">
                                <div style="width: 40px;" th:utext="${userStat.getCount()}">Pass</div>
                                <div style="width: 100px;" th:utext="${userStat.getAvgProc()} + '%'">Average</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<div th:replace="/fragments/footer"></div>

